@{
    ViewBag.Title = "Edit Movie";
}
<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
    <tr><td colspan="3" style="background-color:gray; font-size:18pt; font-weight:bold; height:30px; text-align:center;">Edit Movie Information</td></tr>
    <tr>

        <td style="text-align:right;">Title</td>
        <td><input type="text" ng-model="Movie.title" />  </td>
    </tr>
    <tr>

        <td style="text-align:right;">Gener</td>
        <td><input type="text" ng-model="Movie.gener" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Release Date</td>
        <td><input type="text" ng-model="Movie.releaseDate" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Thumbnail</td>
        <td><input type="text" ng-model="Movie.thumbnail" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Description</td>
        <td><input type="text" ng-model="Movie.description" />  </td>
    </tr>
    <tr>
        <td><input type="hidden" ng-model="Movie.id" />  </td>
    </tr>
    <tr>
        @*<td style="text-align:right;">Country</td>
        <td><input type="text" ng-model="Movie.country" />  </td>*@
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Save" ng-click="save()" />
            <br />
            <div>{{error}}</div>
        </td>
    </tr>

</table>
